@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: Roboto, sans-serif;
  --font-opensans: Open, sans-serif;
  --font-playfair: Playfair, serif;

  --color-primary-pale: #E79299; 
  --color-primary-strong: #AC2631;
  --color-primary-dark: #64161D;
  --color-primary: #b61624;

  --color-tertiary-pale: #6C95CE; 
  --color-tertiary-strong: #172a45;
  --color-tertiary-dark: #3871C1;
  --color-tertiary: #5587ce;

  --color-secondary-pale: #607189; 
  --color-secondary-strong: #15263F;
  --color-secondary-dark: #111f34; 
  --color-secondary: #1D3557;

  --color-honeydew: #F1FAEE;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slideup {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slideleft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes slideright {
  from {
    transform: translateX(10%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.slidedown {
  animation : slidedown 0.5s ease-out
}

.slideup {
  animation : slideup 0.5s ease-out
}

.slideleft {
  animation : slideleft 0.5s ease-out
}

.slideright {
  animation : slideright 0.5s ease-out
}

.logos-slide {
  animation: slide 100s linear infinite;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
}


